<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> <%= @user[:first_name].capitalize %> Welcome!</p>
    <br>
    Your registration details 
    <br>
    --------------------------
  
    <p>First Name: <%= @user[:first_name] %></p> 
    <p>Last Name: <%= @user[:last_name] %></p> 
    <p>Email: <%= @user[:email] %></p>
    <p>Phone Number: <%= @user[:phone_number] %></p>

    ----------
    </p>
    <p>2021</p>
  </body>
</html>